[Unit]
Description=AirCore A26 Archiver
After=network.target
Documentation=WITHHELD

[Service]
Type=simple
User=a26arc
Group=a26arc
WorkingDirectory=/opt/archive
EnvironmentFile=-/etc/a26-archiver.env
ExecStart=/usr/local/bin/archiver
Restart=always
StartLimitInterval=90
Nice=12

[Install]
WantedBy=multi-user.target
Alias=a26-archiver.service
